<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nutrition">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Nutrition</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="imc">
      <ion-icon name="body"></ion-icon>
      <ion-label>IMC</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="with-equipment">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>With Equipment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="without-equipment">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>Without Equipment</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
