<ion-header>
  <ion-toolbar>
    <ion-title>Nutrición</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dieta para Ganar Músculo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí va la información sobre dietas -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dieta para Ganar Peso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí va la información sobre dietas -->
    </ion-card-content>
  </ion-card>
</ion-content>
